.ready{
background-color: #F67E7E;
&__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
&__title{
    font-family: 'Livvic';
font-size: 48px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0px;
text-align: left;
color: #012F34;
}
&__btn{
    padding: 10px 20px;
    border: 2px solid  #012F34;
    border-radius: 20px;
    transition: 0.5s all ease;
    :hover{
        background-color: #012F34;
        color: #F67E7E;
        cursor: grab;
        border: 2px solid white;
    }
    :active{
        padding: 10px 20px;
        border: 2px solid  #012F34;
        transition: none;
    }
}
}